*, html {
    font-family:  "Inter", -apple-system, BlinkMacSystemFont, system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.inactive, .active {
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: fit-content;
}

.inactive > div {
    height: 1px; 
    width: 25px;
    background-color: #71717A;
}
.inactive > p {
   color: #71717A;
}

.active > div {
    height: 1px;
    width: 70px;
    background-color: #E4E4E7;
}

.active > p {
    color: #E4E4E7;
}